<h1>HOME WORK 13</h1>
<form class="search-form" id="search-form">
    <input type="text" name="query" autocomplete="off" placeholder="Search images..." />
</form>
<ul class="gallery">
    <!-- Список <li> с карточками изображений -->
</ul>
<button type="button" class="js-load-more">Load more</button>