<h1 class="title">HOME WORK 13</h1>
<form class="search-form" id="search-form">
    <input type="text" name="query" autocomplete="off" placeholder="Search images..." />
    <button type="submit" class="js-search">Search</button>
    <button type="button" class="js-load-more">Load more</button>
</form>
<div class="wrapper">
    <ul class="gallery list">
    </ul>
    <div class="observeBox"></div>
</div>